html,
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(24, 24, 24);
  color: white;
}

.main-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sketch-container {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-left: 1.5rem;
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.slider-container {
  display: flex;
  margin: 15px 0 15px;
}

.button {
  padding: 8px;
  background-color: #464646;
  border: none;
  border-radius: 8px;
  color: white;
}

.button:hover {
  background-color: #636363;
}

.button:active {
  background-color: #464646;
}
