html,
body {
  margin: 0;
  font-family: sans-serif;
}

.main-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.sketch-container {
  margin-top: 25px;
}

.grid-row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border: 2px solid pink;
}

.sketched {
  background-color: black;
}

.grid-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
